/* -- Header --*/

.navbar{
    margin-bottom: 0;
    background:#ce1d1e;
}

.jumbotron{
    background: none;
    padding: 20px 0;
    color: white;
}

.dropdown-menu{
    background:#ce1d1e;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ce1d1e;;
    color: white;
    text-align: center;
}

body{
    background: white;
    background-image:url(../img/ICBC_background.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input[type=text].is-invalid,input[type=password].is-invalid{
    border-color: #dc3545;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12 12;
    background-image: url("../img/is-invalid.png");    
}

.letras{
    color:black;
}

.colosh{
    color:black !important;
}

.colosh2{
    color:red !important;
}
