/* -- Header --*/

.navbar{
    margin-bottom: 0;
    background:grey;
}

.jumbotron{
    background:url(../img/ICBC_background.jpg);
    padding: 20px 0;
}

.dropdown-menu{
    background:none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

body{
    background:  url(../img/ICBC_background.jpg);
    background-position: center;
    background-size: cover;
}

input[type=text].is-invalid,input[type=password].is-invalid{
    border-color: #dc3545;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12 12;
    background-image: url("../img/is-invalid.png");    
}

.letras{
    color:black;
}