/* -- Header --*/

.navbar{
    margin-bottom: 0;
    background:orange;

}

.jumbotron-ej{
    background:rgb(43, 27, 87);
    color: white;
    padding: 20px 0;
}

.dropdown-menu{
    background:orange
}

.colosh{
    color:white !important;
}

body{
    background-color: black;
}
